div#icf-viewer {
	min-width : 300px;
}

div.icf-overlay {
	position : absolute;
	display : none;
	font : 12px Helvetica, Verdana, Arial, sans-serif;
	color : #fff !important;
	background : #333 !important;
	text-align: left;
	padding : 10px;
	z-index : 10001;
	opacity : 0.9;
	-webkit-border-radius : 5px;
	border-radius : 5px;
}

div.icf-overlay-report {
	position: fixed;
	display : block;
	width : 300px;
	left : 0;
	bottom : 0;
	z-index : 10000;
	overflow: hidden;
}

div.icf-overlay-report h2 {
	font : 18px Helvetica, Verdana, Arial, sans-serif !important;
	color : #fff !important;
	background : #333 !important;
	margin : 0 0 10px 0 !important;
}

div.icf-overlay table {
	text-align: left;
	font : 12px/15px Helvetica, Verdana, Arial, sans-serif;
	color : #fff !important;
	background : #333 !important;
	border: 0 !important;
}

div.icf-overlay th, 
div.icf-overlay td {
	font : 12px/15px Helvetica, Verdana, Arial, sans-serif;
	color : #fff !important;
	background : #333 !important;
	vertical-align: top;
	border: 0 !important;
	padding: 0 10px 10px 0;
}

div.icf-overlay .event-types-container {
	margin: 5px 10px 0 50px;
}

div.icf-overlay .event-types-container th, 
div.icf-overlay .event-types-container td {
	vertical-align: top;
	padding-bottom: 5px;
}

div.icf-overlay .event-types-container th {
	width: 100px;
	text-align: left;
	cursor: pointer;
	background: url(chrome-extension://jcjffbnchmpncdbakknlkjipkifpmebb/images/checkbox-unchecked.png) no-repeat left top !important;
	padding: 0 10px 0 20px;
}

div.icf-overlay .event-types-container th.checked {
	background: url(chrome-extension://jcjffbnchmpncdbakknlkjipkifpmebb/images/checkbox-checked.png) no-repeat left top !important;
}

div.icf-overlay-report td, 
div.icf-overlay-report .event-types-container td {
	text-align: right;
}

div.icf-overlay-report span.javascript-links {
	padding-right: 5px,
	border-right: 10px solid magenta;
}

div.icf-overlay-report span.inline-styles {
	padding-right: 5px;
	border-right: 10px solid #0f0;
}

div.icf-overlay-report span.inline-events {
	padding-right: 5px;
	border-right: 10px solid red;
}

.icf-inline-event {
	outline : 2px solid red !important;
}

.icf-inline-style {
	outline : 2px solid #0f0 !important;
}

.icf-javascript-link {
	outline : 2px solid magenta !important;
}